.rodape{
    background-color: #000000;
    padding: 20px 0;
}

.containerRodape{
    width:1080px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    gap: 40px;
    background-color:#000000;
}

.imgLogo{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.infosRodape{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.subInfos{
    flex: 1 1 50%;
}

.subInfos > * {
    color: #FFFFFF;
    font-size: 14px;
    padding: 2px 0;
}

.subInfos h3{
    font-size: 18px;
    font-weight: bold;      
}

.copyRight{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyRight p{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.btnDevmedia{
    padding: 10px 40px;
    margin: 50px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 20px;
    background-color:#7bac3b ;
}